<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sobre</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <h1>Sistema de Gestão de Biblioteca</h1>

        <nav>
            <a href="/">Home</a>
            <a href="/sobre">Sobre</a>
            <a href="/livros">Livros</a>
            <a href="/autores">Autores</a>
            <a href="/contato">Contato</a>
        </nav>
    </header>

    <div class="container">

        <h2>Sobre o Sistema</h2>

        <p>
            Sistema desenvolvido em Flask para estudo de CI/CD.
        </p>

    </div>

    <footer>
        © 2025 Biblioteca Flask
    </footer>

</body>
</html>